html, body {
	height: 100%;
}

.App {
  text-align: center;
}

.Close {
  position: fixed;
  right: 45px;
  top: 45px;
  width: 45px;
  height: 45px;
}

.Footer {
	font-size: 1.5rem;
	position: absolute;
	bottom: 0;
}

.Footer p {
	width: 100px;
}

@media screen and (max-width: 700px) {
	.Footer {
		font-size: 0.8rem;
	}
}